page-home {

}

ion-grid {
  height: 100%;
  justify-content: center;
}

.bg_color{
  background-color: #f4f4f4;
}

.bttw100{
  width: 100%!important;
}

button {
  ion-badge {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    opacity: 0.9;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}

.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
  color: #fffde7;
}
